$pink: #FF6695 ;
$white: #ffffff ;
$blue: #416FD6 ;
$black: #000000 ;
$gray94: #EEE ;
$light-gray: #F8F8F8 ;
$medium-gray: #D3D3D3 ;
$dark-gray: #BDBDBD ;
$light-black:#4a4a4a ;
$medium-black: #424242 ;
$blue-gray: #263238 ;